:root {
  --Dark-cyan: hsl(158, 36%, 37%);
  --Cream: hsl(30, 38%, 92%);
  --Very-dark-blue: hsl(212, 21%, 14%);
  --Dark-grayish-blue: hsl(228, 12%, 48%);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Fraunces", serif;
  font-family: "Montserrat", sans-serif;

  height: 100vh;
  background-color: var(--Cream);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  font-size: 14px;
  border-radius: 10px;
  width: 622px;
  overflow: hidden;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container .image {
  background-image: url("images/image-product-desktop.jpg");
  background-size: cover;
  width: 322px;
  height: 476px;
  border-radius: 15px 0 0 15px;
}

.content {
  width: 300px;
  padding: 30px;
}
.content .perfume {
  font-size: 14px;
  letter-spacing: 4px;
  margin-bottom: 20px;
  text-transform: uppercase;
  color: var(--Dark-grayish-blue);
}
.content h1 {
  font-family: "Fraunces", serif;
  color: var(--Very-dark-blue);
  margin: 0 0 25px;
  font-size: 37px;
  font-weight: bold;
  line-height: 1;
}
.content .text {
  line-height: 1.7;
  font-size: 14px;
  color: var(--Dark-grayish-blue);
}

.num {
  display: flex;
  align-items: center;
  margin: 14px 0px;
  position: relative;
}
.num h2 {
  font-family: "Fraunces", serif;

  font-size: 36px;
  margin-right: 10px;
  color: var(--Dark-cyan);
}
/* .num .price {
} */

.num .price::before {
  content: "";
  position: absolute;
  display: inline-block;
  width: 55px;
  height: 1.5px;
  background-color: rgb(45 31 31 / 46%);
  top: 23px;
}

.num .price::after {
  content: "$169.99";

  color: var(--Dark-grayish-blue);
}

button {
  padding: 15px 60px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  margin: 10px auto 0;
  width: 100%;
  border: none;
  color: white;
  background: var(--Dark-cyan);
  font-weight: bold;
  font-size: 16px;
  transition: 0.3s ease;
}

button:hover {
  cursor: pointer;
  background-color: hsl(159, 32%, 26%);
}

button .cart {
  margin-right: 10px;
  font-weight: bold;
}

@media (max-width: 779px) {
  .container {
    flex-direction: column;
    height: 90vh;
    max-width: 80%;
  }
  .container .image {
    background-image: url("images/image-product-mobile.jpg");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    border-radius: 0;
  }
  .content {
    width: 100%;
  }
  button {
    display: block;
    text-align: center;
  }
}

@media (max-width: 500px) {
  .container {
  }
}
